<!--Begin::Section-->
<div class="row">
    <div class="col-xl-4">
      finance widget
      <!-- <m-finance-stats></m-finance-stats> -->
    </div>
    <div class="col-xl-4">
      blog
      <!-- <m-blog></m-blog> -->
    </div>
    <div class="col-xl-4">
      packages
      <!-- <m-packages></m-packages> -->
    </div>
  </div>
  <!--End::Section-->
  
  <!--Begin::Section-->
  <div class="m-portlet">
    <div class="m-portlet__body m-portlet__body--no-padding">
      <div class="row m-row--no-padding m-row--col-separator-xl">
        <div class="col-xl-4">
          stats
          <!-- <m-stat></m-stat> -->
        </div>
        <div class="col-xl-4">
          chart
          <!-- <m-bar-chart></m-bar-chart> -->
        </div>
        <div class="col-xl-4">
          chart d
          <!-- <m-doughnut-chart></m-doughnut-chart> -->
        </div>
      </div>
    </div>
  </div>
  <!--End::Section-->
  
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-6">
      tasks
      <!-- <m-tasks></m-tasks> -->
    </div>
    <div class="col-xl-6">
      ticks
      <!-- <m-support-tickets></m-support-tickets> -->
    </div>
  </div>
  <!--End::Section-->
  
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-6">
      activities
      <!-- <m-recent-activities></m-recent-activities> -->
    </div>
    <div class="col-xl-6">
      notifi
      <!-- <m-recent-notifications></m-recent-notifications> -->
    </div>
  </div>
  <!--End::Section-->
  
  <!--Begin::Section-->
  <div class="row">
    <div class="col-xl-8">
      best
      <!-- <m-best-seller></m-best-seller> -->
    </div>
    <div class="col-xl-4">
      author
      <!-- <m-author-profit></m-author-profit> -->
    </div>
  </div>
  <!--End::Section-->
  